
.header-one-rtl{
    background: indianred;
    color: white;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
}
.header-two-rtl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    direction: rtl;
}
.header-two-item{
    text-align: center;
    font-size: 10px;
    border: 1px solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: #c34343;
    background-color: aliceblue;
}
.header-one-item:hover{
   cursor: pointer;
}
.footer-one-rtl{
    background: indianred;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
}
.header-one-ltr{
    background: indianred;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 26px;
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen 
and (min-device-width : 768px)
 {
    .header-one-rtl{
        display: none;
    }
}
.header-one-title{
    margin: 1px;
}