.header-one {
    background: indianred;
    color: white;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
}

.header-two {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    direction: rtl; */
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   direction: rtl;
}



.header-one-item:hover {
    cursor: pointer;
}

.footer-one-rtl {
    background: indianred;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
}

.header-one-ltr {
    background: indianred;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-contact {
    width: 26px;
}
.contact-text{
    text-align: center;
    background: brown;
    color: aliceblue;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scroll {
    position: relative;
    display: flex;
    width: max-content;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}
.scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background: #3fd2f9;
    cursor: pointer;
}
.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}
.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    max-width: 100px;
    scale: 0.8;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}


@media only screen and (min-device-width : 0px) and (max-device-width : 374px) {

    .header-two-item {
        text-align: center;
        font-size: 9px;
        border: 1px solid;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }

    /* .width-0_374 {
        display: inherit;
    }

    .width-375_425 {
        display: none;
    }

    .width-426_580 {
        display: none;
    } */
}

@media only screen and (min-device-width : 375px) and (max-device-width : 478px) {
    .header-two-item {
        text-align: center;
        font-size: 10px;
        border: 1px solid;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }
    /* .width-0_374 {
        display: none;
    }

    .width-375_425 {
        display: inherit;
    }

    .width-426_580 {
        display: none;
    } */
}

@media only screen and (min-device-width : 479px) and (max-device-width : 768px) {
    .header-two-item {
        text-align: center;
        font-size: 12px;
        border: 1px solid;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }

    /* .width-0_374 {
        display: none;
    }

    .width-375_425 {
        display: none;
    }

    .width-426_580 {
        display: inherit;
    } */
}

@media only screen and (min-device-width : 479px) and (max-device-width : 768px) {
    .header-two-item {
        text-align: center;
        font-size: 14px;
        border: 1px solid;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }
}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
    .header-two-item {
        text-align: center;
        font-size: 16px;
        border: 1px solid;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }

    
    /* .width-0_374 {
        display: none;
    }

    .width-375_425 {
        display: none;
    }

    .width-426_580 {
        display: inherit;
    } */
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1440px) {
   

    .header-two-item {
        text-align: center;
        font-size: 18px;
        border: 1px solid;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }

    /* .width-0_374 {
        display: none;
    }

    .width-375_425 {
        display: none;
    }

    .width-426_580 {
        display: inherit;
    } */
}
.category{
    border: 1px solid;
    margin: 15px;
    border-radius: 10px;
    height: 43vh;
    width: 41vh;
    text-align: center;
    /* height: 40dvw; */
}

.category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-category-image{
    text-align: center;

    border: 1px solid;
    border-radius: 15px;
    margin: 12px;
    height: 30vh;
    width: 38vh;
}
.category-title{
    text-align: center;
    background: brown;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0px 0px
}

.image-view{
    width: -webkit-fill-available;
}

@media only screen and (min-device-width : 1441px) and (max-device-width : 4000px) {
    /* .category-item {
        font-size: px;
    } */

    .header-two-item {
        text-align: center;
        font-size: 18px;
        border: 1px solid;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-decoration: none;
        color: #c34343;
        background-color: aliceblue;
        flex-grow: 1;
        width: 0;
    }

    /* .width-0_374 {
        display: none;
    }

    .width-375_425 {
        display: none;
    }

    .width-426_580 {
        display: inherit;
    } */
}


.header-one-title {
    margin: 1px;
}

.header-two-item:hover {
    background-color: darkblue;
    color: aliceblue;
}