<div class="header-one">
  <!-- <ng-template [ngIf]="lang== 'en'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/english.svg" alt="" srcset="" (click)="switchLang()">
    </div>
  </ng-template>
  <ng-template [ngIf]="lang== 'ar'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/flag-for-yemen.svg" alt="" srcset="" (click)="switchLang()">
    </div>
  </ng-template> -->
  <h5 class="header-one-title">{{title}}</h5>
  <!--   
  <ng-template [ngIf]="mode== 'dark'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/dark-mode.svg" alt="" srcset="" (click)="switchMode()">
    </div>
  </ng-template>
  <ng-template [ngIf]="mode== 'light'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/outline-light-mode.svg" alt="" srcset="" (click)="switchMode()">
    </div>
  </ng-template> -->
</div>




<!-- <li *ngFor="let user of category; index as i; first as isFirst">
   {{user}}
</li> -->
<span class="width-0_374">
  <div class="header-two">
    @for (item of category; track item.id; let idx = $index, e = $even) {
    <a target="_blank" rel="noopener noreferrer" class="header-two-item">
      <span class="category-item">
        {{item.name }}
      </span>

    </a>
    }

    <!-- <div>

    </div>
 <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">اطفاء </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">انذار السرقeة</a>
    </li> -->
  </div>
</span>
<img class="image-view" src="../assets/image1.jpg" alt="" srcset="">
<div class="category-container">
  <ng-template ngFor let-item [ngForOf]="category" let-c="index">
    <div class="category">
      <div class="category-title">
        {{item.name}}
      </div>
      <div class="sub-category">
        <div attr.id="carouselExampleIndicators{{c}}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <ng-template ngFor let-button [ngForOf]="item.sub_categories" let-i="index">
              <button type="button" attr.data-bs-target="#carouselExampleIndicators{{c}}" attr.data-bs-slide-to="{{i}}"
                [ngClass]="{active:i==0}" aria-current="true" aria-label="Slide 2">

              </button>
            </ng-template>
          </div>
          <div class="carousel-inner">
            <ng-template ngFor let-sub_item [ngForOf]="item.sub_categories" let-b="index">
              <div class="carousel-item" [ngClass]="{active:b==0}">
                <div>
                  {{sub_item.sub_category_name}}
                </div>
                <img class="sub-category-image" src={{sub_item.sub_category_image}} alt="" srcset="">
              </div>
            </ng-template>

          </div>
          <button class="carousel-control-prev" type="button" attr.data-bs-target="#carouselExampleIndicators{{c}}"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" attr.data-bs-target="#carouselExampleIndicators{{c}}"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>



<!-- <div class="category-title">
  {{category[0].name}}
  
  </div> -->

<!-- <div>
  <h2>Api Data</h2>
  <ul *ngFor="let post of apiData">
    <li>
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </li>
  </ul>
</div> -->

<!-- <img src="../assets/image1.jpg" alt="" srcset="" style="    width: -webkit-fill-available;
border-radius: 15px;
margin: 12px;"> -->
<!-- <h1>{{title}}</h1> -->

<div>
  <div class="contact-text">
    وسائل التواصل معنا
  </div>
  <div class="footer-one-{{direction}}">

    <a  href="//api.whatsapp.com/send?phone=9677779999020&text=السلام عليكم" target="_blank">
      <img class="icon-contact" src="../assets/icons/whatsapp.svg" alt="" srcset="">
    </a>
    <a href="https://t.me/Abo_amer_company_bot" target="_blank">
      <img class="icon-contact" src="../assets/icons/telegram.svg" alt="" srcset="">
    </a>
    <a>
      <img class="icon-contact" src="../assets/icons/twitter.svg" alt="" srcset="">
    </a>
    <a href="tel:9677779999020">
      <img class="icon-contact" src="../assets/icons/phone-call-outline.svg" alt="" srcset="">
    </a>
    <a href="https://www.facebook.com/abuamergroup" target="_blank">
      <img class="icon-contact" src="../assets/icons/facebook.svg" alt="" srcset="" >
    </a>
    <a href="https://www.instagram.com/abuamer_group" target="_blank">
      <img class="icon-contact" src="../assets/icons/instagram.svg" alt="" srcset="">
    </a>



  </div>
</div>