<div class="header-one">
  <!-- <ng-template [ngIf]="lang== 'en'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/english.svg" alt="" srcset="" (click)="switchLang()">
    </div>
  </ng-template>
  <ng-template [ngIf]="lang== 'ar'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/flag-for-yemen.svg" alt="" srcset="" (click)="switchLang()">
    </div>
  </ng-template> -->
  <h5 class="header-one-title">{{title}}</h5>
  <!--   
  <ng-template [ngIf]="mode== 'dark'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/dark-mode.svg" alt="" srcset="" (click)="switchMode()">
    </div>
  </ng-template>
  <ng-template [ngIf]="mode== 'light'">
    <div class="header-one-item">
      <img class="icon" src="../assets/icons/outline-light-mode.svg" alt="" srcset="" (click)="switchMode()">
    </div>
  </ng-template> -->
</div>





<!-- <li *ngFor="let user of category; index as i; first as isFirst">
   {{user}}
</li> -->
<span class="width-0_374">
  <div class="header-two">
    @for (item of category; track item.id; let idx = $index, e = $even) {
   
    <a  [routerLink]="['/subcategory',item.name]" routerLinkActive="active" rel="noopener noreferrer" class="header-two-item">
      <span class="category-item">
        {{item.name }}
      </span>

    </a>
    }

    <!-- <div>

    </div>
 <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">اطفاء </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">انذار السرقeة</a>
    </li> -->
  </div>
</span>

  <div class="scroll imgBox" style="--time:25s">
    <div>
        <img src="../assets/group/bristol.jpg" alt="">
        <img src="../assets/group/benninghoven.jpg" alt="">
        <img src="../assets/group/Hamm.jpg" alt="">
        <img src="../assets/group/Honeywell.jpg" alt="">
        <img src="../assets/group/kleemann.png" alt="">
        <img src="../assets/group/secutron.jpg" alt="">
        <img src="../assets/group/vogele.png" alt="">
        <img src="../assets/group/wirtgen.webp" alt="">
    </div>
    <div>
      <img src="../assets/group/bristol.jpg" alt="">
      <img src="../assets/group/benninghoven.jpg" alt="">
      <img src="../assets/group/Hamm.jpg" alt="">
      <img src="../assets/group/Honeywell.jpg" alt="">
      <img src="../assets/group/kleemann.png" alt="">
      <img src="../assets/group/secutron.jpg" alt="">
      <img src="../assets/group/vogele.png" alt="">
      <img src="../assets/group/wirtgen.webp" alt="">
    </div>
  </div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<div>
  <div class="contact-text">
    وسائل التواصل معنا
  </div>
  <div class="footer-one-{{direction}}">

    <a  href="//api.whatsapp.com/send?phone=967779999020&text=السلام عليكم" target="_blank">
      <img class="icon-contact" src="../assets/icons/whatsapp.svg" alt="" srcset="">
    </a>
    <a href="https://t.me/Abo_amer_company_bot" target="_blank">
      <img class="icon-contact" src="../assets/icons/telegram.svg" alt="" srcset="">
    </a>
    <a>
      <img class="icon-contact" src="../assets/icons/twitter.svg" alt="" srcset="">
    </a>
    <a href="tel:967779999020">
      <img class="icon-contact" src="../assets/icons/phone-call-outline.svg" alt="" srcset="">
    </a>
    <a href="https://www.facebook.com/abuamergroup" target="_blank">
      <img class="icon-contact" src="../assets/icons/facebook.svg" alt="" srcset="" >
    </a>
    <a href="https://www.instagram.com/abuamer_group" target="_blank">
      <img class="icon-contact" src="../assets/icons/instagram.svg" alt="" srcset="">
    </a>



  </div>
</div>